*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.main{
    height: auto;
    width: 100%;
    background-color:white;
}
.header{
    height: 100px;
    width: 100%;
}
h1{
    color: indigo;
    font-size: 50px;
    text-align: center;
    font-family: Britannic Bold;
}
p{
    color: black;
    font-size: 20px;
    text-align: center;
    font-family: Cambria Math;
}
.menu{
    height: 100px;
    width: 100%;
    background-color: aqua;

    color: indigo;
    font-size: 30px;
    font-family: Bahnschrift;
    text-align: center;
    line-height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
a{
    text-decoration: none;
}
.home{
    height: 50px;
    width: 300px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    margin-top: 5px;
}
.home:hover{
    text-decoration: underline;
}
.courses{
    height: 50px;
    width: 300px;
    background-color: white;
    border-radius: 20px 20px 20px 20px; margin-top: 5px;    
}
.courses:hover{
    text-decoration: underline;
}
.our-staff{
    height: 50px;
    width: 300px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    margin-top: 5px;
}
.our-staff:hover{
    text-decoration: underline;
}
.about-us{
    height: 50px;
    width: 300px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    margin-top: 5px;
}
.about-us:hover{
    text-decoration: underline;
}
.contact-us{
    height: 50px;
    width: 300px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.contact-us:hover{
    text-decoration: underline;
}

.banner{
    height: 790px;
    width: 100%;
    background-color: rgb(48, 4, 90);
}

 @media all and (min-width:320px) and (max-width:600px) {

    .header h1{
        font-size: 35px;
    }

    .header p{
        font-size: 17px;
    }
    
    .menu{
        height: auto;
        display: flex;
        flex-direction: column;
    }
 } 