<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="layout.css">

</head>
<body>

    <h1>Layout</h1>

    <main>

        <header></header>

        <menu></menu>

        <aside></aside>

        <section>

            <imgsec></imgsec>

            <infosec></infosec>

        </section>

        <article>

            <div class="box1">
                <div class="b1"></div>
                <div class="b2"></div>

            </div>

            <div class="box2">
                
                <div class="b3"></div>
                <div class="b4"></div>

            </div>

            <div class="box3">
                
                <div class="b5"></div>
                <div class="b6"></div>

            </div>

            <div class="box4">
                
                <div class="b7"></div>
                <div class="b8"></div>

            </div>

        </article>

        <footer></footer>

    </main>
    
</body>
</html>