<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="main.css">

</head>

<body>

    <main>

        <header>
            <h1>Sai Computer Classes</h1>
            <p>Smarter Way For Computer Education</p>
        </header>

        <menu>
            <div class="home"><a href="">Home</a></div>
            <div class="courses"><a href="">Courses</a></div>
            <div class="our-staff"><a href="">Our-Staff</a></div>
            <div class="about-us"><a href="">About-Us</a></div>
            <div class="contact-us"><a href="">Contact-Us</a></div>
        </menu>

        <div class="banner">
            <img src="img/course.jpg" alt="loading">
        </div>

        <section>
            <div class="cont">

                <div class="imgsec">
                    <img src="img/course2.jpg" alt="loading">
                </div>

                <div class="infosec">
                    <div class="info">
                        Welcome to SAI COMPUTER CLASSES <br>
                        Here we provide different types of courses <br><br>

                        <ol type="1">

                            <li>MS-CIT</li>
                            <li>Tally</li>
                            <li>Adv.Tally</li><br>
                            Most popular course -<br><br>


                            <li>Web Development</li> <br>

                            <ol type="a">
                                <li>Front-End</li>
                                <li>Back-End</li>
                            </ol>
                        </ol>

                        <br>

                        <details>
                            <summary>More Details (click here)</summary>
                            <ul>
                                <li>MS-CIT :-</li>
                                <P>Maharashtra State Certificate in Information Technology. MS-CIT is an Information
                                    Technology
                                    (IT) literacy course started by MKCL in the year 2001. It is the most popular IT
                                    Literacy
                                    course in Maharashtra.</p><br>
                                <li>Tally :-</li>
                                <p>A Tally course is generally a 1-3 month long program where you will get to understand
                                    the
                                    software in-depth and learn concepts related to inventory management, GST and TDS
                                    calculation, modifying company details, etc.</p><br>
                                <li>Adv.Tally :-</li>
                                <p>It assists in maintenance Accounting transactions, inventory management, tax
                                    management,
                                    payroll management GST and much more with Little Effort. In this course, you will
                                    learn
                                    many
                                    important things related to accounting in a very simple way.</p>
                                <br><br>
                            </ul>
                        </details>
                    </div>

                </div>
            </div>
        </section>

        <article>

            <div class="box1">
                <div class="b1"><img src="img/course (2).jpg" alt="loading"> </div>
                <div class="b2">
                    <br>
                    <u>MS-CIT</u>
                    <br><br>
                    <table border="1" width="100%">
                        <tr>
                            <th colspan="2">Fees-Structure</th>
                        </tr>

                        <tr>
                            <th>Fees</th>
                            <th>Duration</th>
                        </tr>

                        <tr>
                            <td>5000/-</td>
                            <td>3 months</td>
                        </tr>
                    </table>
                </div>

            </div>

            <div class="box2">

                <div class="b3"><img src="img/course (3).jpg" alt="loading"></div>
                <div class="b4">
                    <br>
                    <u>Tally</u>
                    <br><br>
                    <table border="1" width="100%">
                        <tr>
                            <th colspan="2">Fees-Structure</th>
                        </tr>

                        <tr>
                            <th>Fees</th>
                            <th>Duration</th>
                        </tr>

                        <tr>
                            <td>6000/-</td>
                            <td>3 months</td>
                        </tr>
                    </table>
                </div>

            </div>

            <div class="box3">

                <div class="b5"><img src="img/course (4).jpg" alt="loading"></div>
                <div class="b6">
                    <br>
                    <u>Adv.Tally</u>
                    <br><br>
                    <table border="1" width="100%">
                        <tr>
                            <th colspan="2">Fees-Structure</th>
                        </tr>

                        <tr>
                            <th>Fees</th>
                            <th>Duration</th>
                        </tr>

                        <tr>
                            <td>7000/-</td>
                            <td>4 months</td>
                        </tr>
                    </table>
                </div>

            </div>

            <div class="box4">

                <div class="b7"><img src="img/course (5).jpg" alt="loading"></div>
                <div class="b8">
                    <br>
                    <u>Web-Development</u>
                    <br><br>
                    <table border="1" width="100%">
                        <tr>
                            <th colspan="2">Fees-Structure</th>
                        </tr>

                        <tr>
                            <th>Name</th>
                            <th>Fees</th>
                            <th>Duration</th>
                        </tr>

                        <tr>
                            <td>Front-End</td>
                            <td>22000/-</td>
                            <td>6 months</td>
                        </tr>
                    </table>
                </div>

            </div>

        </article>

        <footer>
            <img src="img/media (2).png" alt="loading" width="100%" height="250px">
        </footer>

    </main>

</body>

</html>