body{
    background-color:black;
    }
    h1{
    color:red;
    text-align:center;
    font-size:60px;
    font-family:elephant;
    }
    h2{
    color:orange;
    text-align:center;
    font-size:50px;
    font-family:elephant;
    } 
    *{
    margin:0;
    padding:0;
    }
    .flex-container{
    height:1000px;
    width:1000px;
    background-color:skyblue;
    margin:auto;
    
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    
    color:white;
    font-size:30px;
    text-align:center;			
    }
    header{
    height:120px;
    width:950px;
    background-color:teal;
    }
    section{
    height:600px;
    width:1000px;
    background-color:skyblue;
    
    display:flex;
    justify-content:space-around;
    flex-direction:row;
    align-items:center;
    }
    aside{
    height:600px;
    width:300px;
    background-color:lime;
    }
    article{
    height:600px;
    width:600px;
    background-color:orange;
    
    display:flex;
    align-items:flex-end;
    justify-content:space-around;
    
    flex-direction:row;
    }
    .box1{
    height:150px;
    width:150px;
    background-color:yellow;
    margin-bottom:30px;
    }
    .box2{
    height:150px;
    width:150px;
    background-color:yellow;
    margin-bottom:30px;
    }
    .box3{
    height:150px;
    width:150px;
    background-color:yellow;
    margin-bottom:30px;
    }
    footer{
    height:120px;
    width:950px;
    background-color:teal;
    }