*{
    margin:0;
    padding:0;
    }
    body{
    background-color:black;
    }
    h1{
    color:lime;
    font-size:80px;
    text-align:center; 
    }
    h2{
    color:lightyellow;
    font-size:60px;
    text-align:center; 
    }
    .flex-container{
    height:1000px;
    width:1000px;
    background-color:white;
    margin:auto;
    
    display:flex;
    flex-direction:column;
    align-items:center;
    
    color:white;
    font-size:30px;
    text-align:center;
    }
    header{
    height:200px;
    width:1000px;
    background-color:teal;
    align-items:flex-start;
    }
    section{
    height:600px;
    width:1000px;
    background-color:white;
    
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    }
    aside{
    height:550px;
    width:250px;
    background-color:turquoise;
    }
    article{
    height:550px;
    width:250px;
    background-color:turquoise;
    }
    content{
    height:550px;
    width:400px;
    background-color:turquoise;
    }
    footer{
    height:200px;
    width:1000px;
    background-color:teal;
    align-items:flex-end;
    }