*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
h1{
    color: beige;
    font-size: 50px;
    font-family: Forte;
}
h1:hover{
    color: purple;
    font-size: 80px;
    text-decoration: overline;
}
h2{
    color: beige;
    font-size: 30px;
    font-family: Brush Script MT;
}
h2:hover{
    color: blueviolet;
    font-size: 50px;
    text-decoration: underline;
}
h1,h2{
    text-align: center;
    transition: 3s;
}

.flex-container{
    height: 790px;
    width: 1000px;
    background-color: antiquewhite;
    margin: auto;

    display: flex;
    flex-direction: column;
}
header{
    height: 300px;
    width: 1000px;
    background-color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}   
menu{
    height: 290px;
    width: 490px;
    background-color:goldenrod;
}   
home{
    height: 290px;
    width: 490px;
    background-color:dodgerblue;
}
section{
    height: 500px;
    width: 1000px;
    background-color: whitesmoke;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
content{
    height: 480px;
    width: 590px;
    background-color: brown;
}
cont{
    height: 490px;
    width: 390px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
article{
    height: 230px;
    width: 390px;
    background-color:springgreen;
}
aside{
    height: 230px;
    width: 390px;
    background-color:springgreen;
}